.container {
  padding: 50px 30px;
  background: #ececec;

  .search {
    display: flex;
    justify-content: space-between;

    input {
      padding: 0 10px;
      margin-bottom: 20px;
      height: 30px;
      border-radius: 5px;
      border: 1px solid #8b8b8b;
    }
  }

  .table {
    background: #fff;
    padding: 5px;

    table {
      width: 100%;

      thead {
        background: #ececec;
        height: 50px;
      }

      tbody tr {
        height: 50px;
        text-align: center;
      }

      img {
        width: 50px;
        height: 50px;
      }
    }

    .pagination {
      font-weight: 500;
      height: 100px;
      padding: 0 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      select {
        height: 30px;
        width: 60px;
      }
    }
  }
}

.primary {
  height: 35px;
  width: 85px;
  border: none;
  background: #fd0;

  &:hover {
    background: rgb(167, 145, 2);
    cursor: pointer;
  }
}

.default {
  font-size: 10px;
  height: 15px;
  width: 50px;
  border: none;

  &:hover {
    background: #ccc;
    cursor: pointer;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  border-radius: 10px;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 25%;

  .message {
    height: 100px;
    border-bottom: 2px solid #ccc;
    font-weight: bolder;
  }

  .actions {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
    font-weight: bolder;

    .cancel {
      background: #d4e4ff;
      color: #0c3a8a;
      border: none;
      width: 175px;
      height: 40px;
      border-radius: 5px;

      &:hover {
        cursor: pointer;
        background: #b4cfff;
      }
    }

    .confirm {
      background: #fd0;
      border: none;
      width: 175px;
      height: 40px;
      border-radius: 5px;

      &:hover {
        background: #a79102;
        cursor: pointer;
      }
    }
  }
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
